<div class="container">
  <h2>Its A Test Section</h2>

  {% comment %}
    {% assign onecoll = collections.garden.products %}
    {% assign newcoll = collections.apparel.products %}
    {% assign bothcoll = onecoll | concat: newcoll %}

    //{{ bothcoll.size }}//
    {% paginate bothcoll.products by 10 %}
      {% render 'facets', results: bothcoll, enable_filtering: true, enable_sorting: true, paginate: paginate %}
      {% for pro in bothcoll.products %}
        {{ pro.title }}-- <br>
      {% endfor %}
    {% endpaginate %}
  {% endcomment %}

  {% for block in section.blocks %}
    {{ block.type }}-{{ block.id -}}
    <br>
    {% comment %}
      {% case block.type %}
        {% when 'add-menu' %}
          /=={{ block.settings.menu  }}==/
        {% when 'add-text' %}
        {% when 'add-image' %}
      {% endcase %}
    {% endcomment %}
  {% endfor %}
</div>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Test Section JK",
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "collection_list",
      "id": "exclude_collection",
      "label": "Exclude Collections"
    }
  ],
  "presets": [
    {
      "name": "Test Section JK"
    }
  ]
}
{% endschema %}
